// COLOR VARIABLES
$color-primary: #A86D12;
$color-secondary: #BC9D6D;
$color-primary-dark: #b28451;
$color-bodyBackground: #FBF4E9;

// FONT VARIABLES
$font-primary: "Arizonia";
$font-secondary: "Gilroy-Medium";
$font-tertiary: "Gilroy-Bold";
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width:$bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width:$bp-large) {
    font-size: 40%;
  }

  @media only screen and (max-width:$bp-medium) {
    font-size: 33%;
  }

  @media only screen and (max-width:$bp-small) {
    font-size: 28%;
  }
}

body {
  // font-family: $font-display;
  background-color: $color-bodyBackground;
  font-weight: 300;
  overflow: scroll;
  // margin: auto 8rem;
}



